<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="deptmapper">

    <!--查全部-->
    <select id="findAll" resultType="com.lx.pojo.Dept">
        SELECT * FROM dept
    </select>
    <!--根据主键查询查一个
        parameterType="java.lang.Integer" 表示执行这个方法时需要传入的参数类型

    -->
    <select id="findOne" parameterType="java.lang.Integer" resultType="com.lx.pojo.Dept">
        SELECT * FROM dept WHERE deptno=#{deptno}
    </select>


    <!--添加
    如果如果parameterType是一个POJO对象
    则 SQL中的参数 #{pojo的属性名}
    -->
    <insert id="add" parameterType="com.lx.pojo.Dept">
        INSERT INTO dept(dname,loc) VALUES(#{dname},#{loc})
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.lx.pojo.Dept">
        UPDATE dept SET dname=#{dname},loc=#{loc} WHERE deptno=#{deptno}
    </update>
    <!--删除-->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from dept where deptno=#{pk}
    </delete>
</mapper>